<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unleashing Stellar Creativity | StarPlace</title>
    <meta property="og:title" content="Unleashing Stellar Creativity - StarPlace">
    <meta property="og:description" content="Unleashing Stellar Creativity | StarPlace">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/885456195152928768/1142511468084998286/1692465420.png">
    <link rel="canonical" href="https://about:blank">
    <link rel="alternate" media="handheld" href="https://about:blank">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://about:blank">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/885456195152928768/1142511468084998286/1692465420.png">
    <meta name="description" content="Unleash your Stellar Creativity, with StarPlace - where communities come together!">
    <meta property="og:site_name" content="Unleashing Stellar Creativity - StarPlace">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <%- include('../partials/header', { username: username, uid: uid }) %>
    <br>
    <div class="app-container">
        <div class="gridz">
            <div class="home_container">
                <h3>Latest Posts</h3>
                <div class="container_container">
                    <main class="landing_feat">
                        <div>
                            <% for (const post of posts) { %>
                                <br class="separator">
                                <div id="<%- post.path %>" class="star_post_container">
                                    <a style="inset: 0; position: absolute;  text-decoration: none; color: white;" href="/star/<%- post.starplace %>/a"></a>
                                    <div>
                                        <span class="star_post_header_container">
                                            <span class="star_post_header">
                                                <span style="position: relative;">
                                                    <span style="display: flex;">
                                                        <div>
                                                            <div>
                                                                <a href="/star/<%- post.starplace %>" class="star_post_title">
                                                                    <div style="padding-right: 6px;">
                                                                        <img src="<%- post.icon %>" style="color: black; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; width: 24px; height: 24px; display: flex;">
                                                                    </div>
                                                                    <span>star/<%- post.starplace %></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="join_star_button_container">
                                                <button class="join_star_button">Join</button>
                                            </span>
                                        </span>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="overflow: hidden; flex-grow: 1;">
                                            <div class="star_post_entry"><%- post.name %></div>
                                            <div class="star_post_body"><%- post.content %></div>
                                        </div>
                                    </div>
                                    <div class="logged-in" style="position: relative; overflow: hidden;" id="fancy-icons">
                                        <div id="love-count-<%- post.path %>" style="float: left; display: block; text-align: center; padding: 14px; text-decoration: none; cursor: pointer;" onclick="addLove('<%- post.path %>')"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#ffffff"/></svg>  Star</div>
                                        <div style="float: left; display: block; text-align: center; padding: 14px; text-decoration: none; cursor: pointer;" onclick="location.href='/star/<%- post.path %>';"><img src="https://firebasestorage.googleapis.com/v0/b/shnitters.appspot.com/o/reply.png?alt=media&token=5124acf4-60f7-4f53-bc6e-4803b534352d&format=webp" style="height: 18px; width: 18px;"> Reply</div>
                                        <div style="float: left; display: block; text-align: center; padding: 14px; text-decoration: none; cursor: pointer;" onclick="location.href='/star/<%- post.path %>';"><img src="https://firebasestorage.googleapis.com/v0/b/shnitters.appspot.com/o/comment.png?alt=media&token=aef99c51-74c5-4482-9233-ce7524c3dfbc&format=webp" style="height: 18px; width: 18px;"> Conversation</div>
                                    </div>
                                </div>
                              <% } %>
                        </div>
                    </main>
                    <div class="starboarder">
                        <div class="recommend-starboard">
                            <section class="starboard12">
                                <div class="starboard13">
                                    <div class="starboard14">
                                        <b>Trending Starboards</b>
                                        <p>Error retrieving data</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- hi -->
</body>
</html>